body {
    max-width: 900px; /* ограничение максимальной ширины  */
    margin: 0 auto;
}

/* для всех блоков внутри body изменяем алгоритм расчета ширины блоков и добавляем все блокам поля 10px */
body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
.upload {
    background: yellow;
     border: 1px solid black;
     border-radius: 10px;
     display: flex;
     #display: inline-block;
}

.file_content {
     border: 1px solid black;
     border-radius: 10px;
     display: flex;


}

.file_info {
    width: 75%;
    height: 100%;
    padding : 1px;
    margin: 1px;
}

.file_status {
    width: 25%;
    height: 100%;
    padding : 1px;
    margin: 1px;
    display: flex;
    justify-content: flex-end

}

.file_content p {
     border: 0px solid black;
}

.file_status img {
    width: 100px;
    height: 100px;


}


.header {
    background: #CCA69E;
    padding: 10px;
}

.left-sidebar {
    width: 20%;
    background: #8ED9B6;
    float: left;
}

.content {
    float: left;
    width: 60%;
}

.right-sidebar {
    width: 20%;
    background: #FF9282;
    float: left;
}

.footer {
    background: #000;
    clear: both; /* запрещаем обтекание с обоих сторон, блок выводится с новой строки */
    color: #ccc;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;

}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
